a.link_button {
  margin: 25px 0;
  display: block;
  position: relative;
  line-height: 50px;
  width: 100%;
  max-width: 260px;
  text-decoration: none;
  background-color: #333;
  color: #ccc;
  font-size: 15px;
  z-index: 1;
}
a.link_button:before,
a.link_button:after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}
a.link_button:before {
  line-height: 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  text-align: center;
}
a.link_button:after {
  content: '';
  z-index: -1;
  background-color: #ff0000;
}
a.link_button:hover,
a.link_button:focus,
a.link_button:active {
  color: #fff;
}
a.link_button:hover:before,
a.link_button:focus:before,
a.link_button:active:before {
  color: #fff;
}
a.link_button.ico_left {
  text-align: left;
  padding-left: 65px;
  padding-right: 15px;
}
a.link_button.ico_left:before {
  top: 0;
  bottom: 0;
  left: 0;
}
a.link_button.ico_right {
  text-align: right;
  padding-right: 65px;
  padding-left: 15px;
}
a.link_button.ico_right:before {
  top: 0;
  bottom: 0;
  right: 0;
}
a.link_button.effect_leftToRight:after {
  -webkit-transition-property: width;
  transition-property: width;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
a.link_button.effect_leftToRight:hover:after,
a.link_button.effect_leftToRight:focus:after,
a.link_button.effect_leftToRight:active:after {
  width: 100%;
}
a.link_button.effect_rightToLeft:after {
  -webkit-transition-property: width;
  transition-property: width;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
}
a.link_button.effect_rightToLeft:hover:after,
a.link_button.effect_rightToLeft:focus:after,
a.link_button.effect_rightToLeft:active:after {
  width: 100%;
}
a.link_button.effect_bottomToTop:after {
  -webkit-transition-property: height;
  transition-property: height;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
}
a.link_button.effect_bottomToTop:hover:after,
a.link_button.effect_bottomToTop:focus:after,
a.link_button.effect_bottomToTop:active:after {
  height: 100%;
}
a.link_button.effect_topToBottom:after {
  -webkit-transition-property: height;
  transition-property: height;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
}
a.link_button.effect_topToBottom:hover:after,
a.link_button.effect_topToBottom:focus:after,
a.link_button.effect_topToBottom:active:after {
  height: 100%;
}
a.link_button.effect_topLeftToBottomRight:after {
  -webkit-transition-property: height, width;
  transition-property: height, width;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
}
a.link_button.effect_topLeftToBottomRight:hover:after,
a.link_button.effect_topLeftToBottomRight:focus:after,
a.link_button.effect_topLeftToBottomRight:active:after {
  height: 100%;
  width: 100%;
}
a.link_button.effect_bottomRightToTopLeft:after {
  -webkit-transition-property: height, width;
  transition-property: height, width;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
}
a.link_button.effect_bottomRightToTopLeft:hover:after,
a.link_button.effect_bottomRightToTopLeft:focus:after,
a.link_button.effect_bottomRightToTopLeft:active:after {
  height: 100%;
  width: 100%;
}
a.link_button.effect_leftToRight_widthBounce:after {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
a.link_button.effect_leftToRight_widthBounce:hover:after,
a.link_button.effect_leftToRight_widthBounce:focus:after,
a.link_button.effect_leftToRight_widthBounce:active:after {
  -webkit-animation-name: widthBounce;
  animation-name: widthBounce;
}
a.link_button.effect_rightToLeft_widthBounce:after {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
}
a.link_button.effect_rightToLeft_widthBounce:hover:after,
a.link_button.effect_rightToLeft_widthBounce:focus:after,
a.link_button.effect_rightToLeft_widthBounce:active:after {
  -webkit-animation-name: widthBounce;
  animation-name: widthBounce;
}
@-webkit-keyframes widthBounce {
  0% {
    width: 0%;
  }
  90% {
    width: 100%;
  }
  95% {
    width: 95%;
  }
  100% {
    width: 290px;
  }
}
